<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Este es un sitio web de una tienda de videos juegos y consolas">
    <meta name="keywords"  content="Juegos">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/b8804578b0.js" crossorigin="anonymous"></script>
    
    <link rel="shortcut icon" href="../img/favico.svg" alt=favico/>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-black" id="botonera">
      <div class="container-fluid">
        <a href="../index.html"   class="logo">
          <img src="../img/logo.svg" width="50" height="50" alt="logo">
        </a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="../views/Juegos.html">Juegos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/Consolas.html">Consolas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/Nosotros.html">Nosotros</a>
            </li>
          </ul>
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="../views/CrearCuenta.html">Crear Cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../views/IniciarSesion.html">Iniciar Sesion</a>
            </li>
          </ul>
            </div>
           </div>
    </nav>
    
      <div>
        <h1 class="text-center">Juegos digitales Argentina</h1>
    </div>
    <div class="cartas">
        <main class="cuerpo-card">
            <article>
                <img src="../img/Juegos/daysgone.svg" alt="daysgone">
                <div class="descripcion">
                    <h3>Dayz Gone</h3>
                    <p>12 cuotas de $400</p>
                    <p>$4.800</p>
                    <button>Comprar</button>
                </div>
            </article>

            <article>
                <img src="../img/Juegos/god_of_war.svg" alt="god of war">
                <div class="descripcion">
                    <h3>God Of War</h3>
                    <p>12 Cuotas de $458,33</p>
                    <p>$5.500</p>
                    <button>Comprar</button>
                </div>
            </article>

            <article>
                <img src="../img/Juegos/gta5.svg" alt="gta5">
                <div class="descripcion">
                    <h3>Grand Theft Auto V</h3>
                    <p>12 Cuotas de $416,66</p>
                    <p>$5.000</p>
                    <button>Comprar</button>
                </div>
            </article>
            <article>
                <img src="../img/Juegos/destiny.svg" alt="destiny">
                <div class="descripcion">
                    <h3>Destiny</h3>
                    <p>12 Cuotas de $350</p>
                    <p>$4.200</p>
                    <button>Comprar</button>
                </div>
            </article>

          <article>
              <img src="../img/Juegos/f122.svg" alt="formula 1">
              <div class="descripcion">
                  <h3>F1 22 </h3>
                  <p>12 cuotas de $1250</p>
                  <p>$15.000</p>
                  <button>Comprar</button>
              </div>
          </article>

          <article>
              <img src="../img/Juegos/fifa22.svg" alt="fifa 22">
              <div class="descripcion">
                  <h3>Fifa 22</h3>
                  <p>12 Cuotas de $1.000</p>
                  <p>$12.000</p>
                  <button>Comprar</button>
              </div>
          </article>

          <article>
              <img src="../img/Juegos/thelastofus.svg" alt="the last of us">
              <div class="descripcion">
                  <h3>The Last of us</h3>
                  <p>12 Cuotas de $650</p>
                  <p>$7.800</p>
                  <button>Comprar</button>
              </div>
          </article>

          <article>
            <img src="../img/Juegos/rainbow.svg" alt="rainbow">
            <div class="descripcion">
                <h3>Destiny</h3>
                <p>12 Cuotas de $500</p>
                <p>$6.000</p>
                <button>Comprar</button>
            </div>
        </article>

          <article>
            <img src="../img/Juegos/crash_bandicoot.svg" alt="crash">
            <div class="descripcion">
                <h3>Crash Bandicoot</h3>
                <p>12 Cuotas de $650</p>
                <p>$7.800</p>
                <button>Comprar</button>
            </div>
        </article>

        <article>
          <img src="../img/Juegos/far_cry_5.svg" alt="far cry 5">
          <div class="descripcion">
              <h3>Far Cry 5</h3>
              <p>12 Cuotas de $720</p>
              <p>$8.640</p>
              <button>Comprar</button>
          </div>
      </article>

      <article>
        <img src="../img/Juegos/full_guys.svg" alt="fall guys">
        <div class="descripcion">
            <h3>Fall Guys</h3>
            <p>12 Cuotas de $350</p>
            <p>$4.200</p>
            <button>Comprar</button>
        </div>
    </article>

    <article>
      <img src="../img/Juegos/need_for_speed_heat.svg" alt="need for speed heat">
      <div class="descripcion">
          <h3>Need For Speed Heat</h3>
          <p>12 Cuotas de $700</p>
          <p>$8.400</p>
          <button>Comprar</button>
      </div>
  </article>
      </main>
    </div>

   
    <footer class="footer">
      <div class="inner-footer">
        <div class="social-links">
          <ul>
            <li class="social-items"><a href="https://es-la.facebook.com/"><i class="fab fa-facebook"></i></a></li>
            <li class="social-items"><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a></li>
            <li class="social-items"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            <li class="social-items"><a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="outer-footer">
      </div>
    </footer>
    <script src="../js/bootstrap.min.js"></script>

</body>
</html>