<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Este es un sitio web de una tienda de videos juegos y consolas">
    <meta name="keywords"  content="CONSOLAS ">
    <title>Consolas</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/b8804578b0.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="../img/favico.svg" alt=favico/>
</head>
<body>
     <!-- Inicia el nav -->
     <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-black" id="botonera">
        <div class="container-fluid">
          <a href="../index.html"   class="logo">
            <img src="../img/logo.svg" width="50" height="50" alt="logo">
          </a>
          <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="../views/Juegos.html">Juegos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/Consolas.html">Consolas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/Nosotros.html">Nosotros</a>
              </li>
            </ul>
              <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="../views/CrearCuenta.html">Crear Cuenta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/IniciarSesion.html">Iniciar Sesion</a>
              </li>
            </ul>
              </div>
            </div>
        </nav>

        <main>
            <section class="quienes">
               <div class="contenedor">
                   <h3 class="quienes-titulo">Simple & puro diseño</h3>
                   <p class="quienes-parrafo">Somos Kundo's Store, una pequeña pero motivada empresa que se especializa en videos juegos y consolas. Creemos fielmente en un buen negocio y en brindar un excelente servicio, por lo que nos comprometemos a ofrecerte lo mejor de ambos.
                    Si estás buscando algo nuevo, estás en el lugar correcto. Nos esforzamos por ser originales e innovadores, ofreciendo a nuestros clientes lo que desean, poniendo sus deseos en el primer lugar de nuestra lista de prioridades.

                   </p>
                </div> 
            </section>

            <section class="quehacemos">
                <div class="contenedor">
                    <div class="contenido-cajas">
                        <div class="tarjeta">
                            <img src="../img/icono1.svg" alt="icono1" class="imagen-tarjeta">
                            <div class="contenido-tarjeta">
                                <h3 class="titulo-tarjeta">Rapidez</h3>
                                <p class="parrafo-tarjeta">Entregamos los productos en tiempo y forma en el cual le comunicamos al cliente.</p>
                            </div>
                        </div>
                        <div class="tarjeta">
                                <img src="../img/icono2.svg" alt="icono2" class="imagen-tarjeta">
                                <div class="contenido-tarjeta">
                                    <h3 class="titulo-tarjeta">Mejores precios</h3>
                                    <p class="parrafo-tarjeta">Somos la tienda con los mejores precios y las mas comdodas cuotas. </p>
                                </div>
                        </div>
                        <div class="tarjeta">
                                <img src="../img/icono3.svg" alt="icono3" class="imagen-tarjeta">
                                <div class="contenido-tarjeta">
                                    <h3 class="titulo-tarjeta">Tienda online</h3>
                                    <p class="parrafo-tarjeta">Nos manejamos unicamente con este medio cualquiera que use este nombro es falso y no nos hacemos cargo del pedido</p>
                                </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="footer">
                <div class="inner-footer">
                  <div class="social-links">
                    <ul>
                      <li class="social-items"><a href="https://es-la.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                      <li class="social-items"><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a></li>
                      <li class="social-items"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                      <li class="social-items"><a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="outer-footer">
                </div>
              </footer>
              <script src="../js/bootstrap.min.js"></script>
          
    
</body>
</html>